{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block bodyblock %}
  <div class="jumbotron" id="city">
    <h1><strong>Portland</strong></h1>
    <div class="row">
      <div class="column" id='column1'>
        <img id='square' src="{% static 'images/port-1.jpeg' %}">
        <img id='square' src="{% static 'images/port-9.jpg' %}">
        <img id='long' src="{% static 'images/port-3.jpg' %}">
      </div>
      <div class="column" id="column2">
        <img id='square' src="{% static 'images/port-4.jpg' %}">
        <img id='long' src="{% static 'images/port-5.jpg' %}">
        <img id='square' src="{% static 'images/port-6.jpg' %}">
      </div>
      <div class="column" id="column3">
        <img id='square' src="{% static 'images/port-2.jpeg' %}">
        <img id='long' src="{% static 'images/port-8.jpg' %}">
        <img id='square' src="{% static 'images/port-12.jpg' %}">
      </div>
      <div class="column" id="column4">
        <img id='square' src="{% static 'images/port-10.jpg' %}">
        <img id='square' src="{% static 'images/port-11.jpg' %}">
        <img id='long' src="{% static 'images/port-7.jpg' %}">
      </div>

    </div>

  </div>

{% endblock %}
